
<table style="width:100%; border: 1px solid #ddd;">

    <tr><th style="padding: 5px 10px; border: 1px solid #ddd;">Company Name</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var company}}</td></tr>
    <tr><th style="padding: 5px 10px; border: 1px solid #ddd;">Product Name</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var product_name}}</td></tr>
    <tr><th style="padding: 5px 10px; border: 1px solid #ddd;">First Name</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var firstname}}</td></tr>
    <tr><th style="padding: 5px 10px; border: 1px solid #ddd;">Last Name</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var lastname}}</td></tr>
    <tr><th style="padding: 5px 10px; border: 1px solid #ddd;">Street Address</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var streetaddress}}</td></tr>
    <tr><th style="padding: 5px 10px; border: 1px solid #ddd;">Postal Code</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var postcode}}</td></tr>
    <tr><th style="padding: 5px 10px; border: 1px solid #ddd;">Country</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var country}}</td></tr>
    <tr><th style="padding: 5px 10px; border: 1px solid #ddd;">Phone</th><td style="padding: 5px 10px; border: 1px solid #ddd;">{{var phone}}</td></tr>


<!--@subject {{trans "Enquiry Form"}}  @-->

</table>
